.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y52{bottom:2.596000px;}
.y54{bottom:16.395000px;}
.y56{bottom:30.193999px;}
.y30{bottom:84.047011px;}
.y4a{bottom:97.846023px;}
.y2f{bottom:97.846046px;}
.y49{bottom:111.645034px;}
.y2e{bottom:111.645046px;}
.y2d{bottom:125.444045px;}
.y2c{bottom:139.242995px;}
.y48{bottom:153.042006px;}
.y2b{bottom:153.042030px;}
.y47{bottom:166.841018px;}
.y2a{bottom:166.841030px;}
.y29{bottom:180.640029px;}
.y5c{bottom:190.939040px;}
.y28{bottom:194.439040px;}
.y5b{bottom:204.738051px;}
.y46{bottom:208.238003px;}
.y27{bottom:208.238014px;}
.y5a{bottom:218.537002px;}
.y45{bottom:222.037002px;}
.y26{bottom:222.037014px;}
.y25{bottom:235.836013px;}
.y4b{bottom:243.500000px;}
.y59{bottom:244.039032px;}
.y24{bottom:249.635024px;}
.y44{bottom:263.434035px;}
.y23{bottom:263.434040px;}
.y43{bottom:277.233016px;}
.y22{bottom:277.233040px;}
.y58{bottom:285.936039px;}
.y42{bottom:291.032027px;}
.y21{bottom:291.032040px;}
.y20{bottom:304.831038px;}
.y57{bottom:314.034039px;}
.y1f{bottom:318.630019px;}
.y1e{bottom:332.429030px;}
.y55{bottom:342.132038px;}
.y1d{bottom:346.228024px;}
.y1c{bottom:360.027022px;}
.y5d{bottom:362.500000px;}
.y1b{bottom:373.826034px;}
.y53{bottom:384.029037px;}
.y41{bottom:387.625014px;}
.y1a{bottom:387.625038px;}
.y40{bottom:401.424026px;}
.y19{bottom:401.424038px;}
.y51{bottom:412.127037px;}
.y18{bottom:415.223037px;}
.y17{bottom:429.022017px;}
.y3f{bottom:429.022030px;}
.y16{bottom:442.821022px;}
.y3e{bottom:442.821029px;}
.y3d{bottom:456.620009px;}
.y15{bottom:456.620022px;}
.y14{bottom:470.419021px;}
.y3c{bottom:484.218014px;}
.y13{bottom:484.218032px;}
.y3b{bottom:498.017013px;}
.y12{bottom:498.017021px;}
.y11{bottom:511.816021px;}
.y3a{bottom:511.816024px;}
.y10{bottom:525.615020px;}
.y50{bottom:525.615025px;}
.y39{bottom:525.615032px;}
.y4f{bottom:539.414024px;}
.yf{bottom:539.414031px;}
.ye{bottom:553.213024px;}
.y38{bottom:553.213027px;}
.yd{bottom:567.012023px;}
.y37{bottom:567.012032px;}
.yc{bottom:580.811019px;}
.y36{bottom:580.811031px;}
.yb{bottom:594.610023px;}
.y35{bottom:594.610030px;}
.ya{bottom:608.409023px;}
.y34{bottom:608.409026px;}
.y33{bottom:622.208019px;}
.y9{bottom:622.208022px;}
.y8{bottom:636.007018px;}
.y4e{bottom:636.007023px;}
.y7{bottom:649.806023px;}
.y6{bottom:663.605022px;}
.y4d{bottom:663.605025px;}
.y5{bottom:677.404021px;}
.y4{bottom:691.203025px;}
.y4c{bottom:705.002021px;}
.y3{bottom:705.002026px;}
.y2{bottom:718.801024px;}
.y1{bottom:732.600024px;}
.y0{bottom:746.399024px;}
.y32{bottom:760.198025px;}
.y31{bottom:773.997024px;}
.h4{height:13.799000px;}
.h5{height:27.598000px;}
.h2{height:32.531250px;}
.h1{height:33.351562px;}
.h6{height:41.396999px;}
.h3{height:183.000000px;}
.h7{height:423.000000px;}
.h0{height:841.900024px;}
.w3{width:159.000000px;}
.w4{width:180.899994px;}
.w2{width:216.600006px;}
.w5{width:421.500000px;}
.w1{width:559.000000px;}
.w0{width:595.299988px;}
.x8{left:5.150000px;}
.x5{left:6.653000px;}
.x11{left:9.015000px;}
.x10{left:14.794000px;}
.x13{left:17.627000px;}
.x1{left:21.500000px;}
.xc{left:26.021000px;}
.x9{left:28.342000px;}
.x14{left:32.994000px;}
.xd{left:34.514000px;}
.x7{left:39.274001px;}
.xe{left:41.325999px;}
.xb{left:46.628001px;}
.x12{left:49.002001px;}
.xa{left:52.922999px;}
.xf{left:57.498000px;}
.x3{left:72.470000px;}
.x0{left:85.050003px;}
.x4{left:239.400009px;}
.x2{left:281.764999px;}
.x6{left:398.900009px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:64.000000pt;}
.y52{bottom:3.461333pt;}
.y54{bottom:21.859999pt;}
.y56{bottom:40.258666pt;}
.y30{bottom:112.062682pt;}
.y4a{bottom:130.461363pt;}
.y2f{bottom:130.461395pt;}
.y49{bottom:148.860045pt;}
.y2e{bottom:148.860062pt;}
.y2d{bottom:167.258727pt;}
.y2c{bottom:185.657327pt;}
.y48{bottom:204.056009pt;}
.y2b{bottom:204.056040pt;}
.y47{bottom:222.454690pt;}
.y2a{bottom:222.454707pt;}
.y29{bottom:240.853372pt;}
.y5c{bottom:254.585387pt;}
.y28{bottom:259.252054pt;}
.y5b{bottom:272.984069pt;}
.y46{bottom:277.650670pt;}
.y27{bottom:277.650686pt;}
.y5a{bottom:291.382669pt;}
.y45{bottom:296.049335pt;}
.y26{bottom:296.049352pt;}
.y25{bottom:314.448017pt;}
.y4b{bottom:324.666667pt;}
.y59{bottom:325.385376pt;}
.y24{bottom:332.846699pt;}
.y44{bottom:351.245380pt;}
.y23{bottom:351.245387pt;}
.y43{bottom:369.644021pt;}
.y22{bottom:369.644053pt;}
.y58{bottom:381.248052pt;}
.y42{bottom:388.042703pt;}
.y21{bottom:388.042720pt;}
.y20{bottom:406.441385pt;}
.y57{bottom:418.712051pt;}
.y1f{bottom:424.840026pt;}
.y1e{bottom:443.238707pt;}
.y55{bottom:456.176051pt;}
.y1d{bottom:461.637365pt;}
.y1c{bottom:480.036030pt;}
.y5d{bottom:483.333333pt;}
.y1b{bottom:498.434711pt;}
.y53{bottom:512.038717pt;}
.y41{bottom:516.833352pt;}
.y1a{bottom:516.833384pt;}
.y40{bottom:535.232034pt;}
.y19{bottom:535.232051pt;}
.y51{bottom:549.502716pt;}
.y18{bottom:553.630716pt;}
.y17{bottom:572.029357pt;}
.y3f{bottom:572.029373pt;}
.y16{bottom:590.428029pt;}
.y3e{bottom:590.428038pt;}
.y3d{bottom:608.826679pt;}
.y15{bottom:608.826696pt;}
.y14{bottom:627.225361pt;}
.y3c{bottom:645.624018pt;}
.y13{bottom:645.624043pt;}
.y3b{bottom:664.022683pt;}
.y12{bottom:664.022695pt;}
.y11{bottom:682.421361pt;}
.y3a{bottom:682.421365pt;}
.y10{bottom:700.820026pt;}
.y50{bottom:700.820033pt;}
.y39{bottom:700.820043pt;}
.y4f{bottom:719.218699pt;}
.yf{bottom:719.218708pt;}
.ye{bottom:737.617366pt;}
.y38{bottom:737.617369pt;}
.yd{bottom:756.016031pt;}
.y37{bottom:756.016042pt;}
.yc{bottom:774.414692pt;}
.y36{bottom:774.414708pt;}
.yb{bottom:792.813365pt;}
.y35{bottom:792.813374pt;}
.ya{bottom:811.212031pt;}
.y34{bottom:811.212035pt;}
.y33{bottom:829.610692pt;}
.y9{bottom:829.610696pt;}
.y8{bottom:848.009357pt;}
.y4e{bottom:848.009364pt;}
.y7{bottom:866.408030pt;}
.y6{bottom:884.806697pt;}
.y4d{bottom:884.806700pt;}
.y5{bottom:903.205362pt;}
.y4{bottom:921.604033pt;}
.y4c{bottom:940.002694pt;}
.y3{bottom:940.002701pt;}
.y2{bottom:958.401366pt;}
.y1{bottom:976.800032pt;}
.y0{bottom:995.198699pt;}
.y32{bottom:1013.597366pt;}
.y31{bottom:1031.996031pt;}
.h4{height:18.398666pt;}
.h5{height:36.797333pt;}
.h2{height:43.375000pt;}
.h1{height:44.468750pt;}
.h6{height:55.195999pt;}
.h3{height:244.000000pt;}
.h7{height:564.000000pt;}
.h0{height:1122.533366pt;}
.w3{width:212.000000pt;}
.w4{width:241.199992pt;}
.w2{width:288.800008pt;}
.w5{width:562.000000pt;}
.w1{width:745.333333pt;}
.w0{width:793.733317pt;}
.x8{left:6.866667pt;}
.x5{left:8.870667pt;}
.x11{left:12.020000pt;}
.x10{left:19.725334pt;}
.x13{left:23.502667pt;}
.x1{left:28.666667pt;}
.xc{left:34.694667pt;}
.x9{left:37.789333pt;}
.x14{left:43.992000pt;}
.xd{left:46.018667pt;}
.x7{left:52.365334pt;}
.xe{left:55.101332pt;}
.xb{left:62.170668pt;}
.x12{left:65.336002pt;}
.xa{left:70.563999pt;}
.xf{left:76.664000pt;}
.x3{left:96.626666pt;}
.x0{left:113.400004pt;}
.x4{left:319.200012pt;}
.x2{left:375.686666pt;}
.x6{left:531.866679pt;}
}
